
# Byte-compiled
**/__pycache__/
**/*.pyc
**/*.pyo
**/*/__pycache__
**/*/__pycache__/
**/__pycache__/**
**/*.pyc/**
**/*.pyo/**


#pycharm framework
.idea/

# Environments
env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

ArcData_*.json
.log
